<%= form_for(@story_tag) do |f| %>
  <% if @story_tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@story_tag.errors.count, "error") %> prohibited this story_tag from being saved:</h2>

      <ul>
      <% @story_tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :story_id %><br>
    <%= f.text_field :story_id %>
  </div>
  <div class="field">
    <%= f.label :tag_id %><br>
    <%= f.text_field :tag_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
