<p id="notice"><%= notice %></p>

<h1>Listing Story Tags</h1>

<table>
  <thead>
    <tr>
      <th>Story</th>
      <th>Tag</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @story_tags.each do |story_tag| %>
      <tr>
        <td><%= story_tag.story %></td>
        <td><%= story_tag.tag %></td>
        <td><%= link_to 'Show', story_tag %></td>
        <td><%= link_to 'Edit', edit_story_tag_path(story_tag) %></td>
        <td><%= link_to 'Destroy', story_tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story tag', new_story_tag_path %>
