<p id="notice"><%= notice %></p>

<h1>Listing Story Statuses</h1>

<table>
  <thead>
    <tr>
      <th>Story</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @story_statuses.each do |story_status| %>
      <tr>
        <td><%= story_status.story %></td>
        <td><%= story_status.status %></td>
        <td><%= link_to 'Show', story_status %></td>
        <td><%= link_to 'Edit', edit_story_status_path(story_status) %></td>
        <td><%= link_to 'Destroy', story_status, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Story status', new_story_status_path %>
