<p id="notice"><%= notice %></p>

<div class="container">
  <div class="mass-head">
    <h1>How it Works</h1>
    <div class="row">
      <div class="col-4">
        <div class="img-h">
          <img src="https://i.imgur.com/i92J0mF.png" alt="tell story" width="50%">
        </div>
        <h4>Tell your employment story </h4>
        <p>Create a story and tell us about your journey. Our community wants to hear from you, and we want to help! </p>
      </div>
      <div class="col-4">
        <div class="img-h">
          <img src="https://i.imgur.com/8eYIpm0.png" alt="tags" width="50%">
        </div>
        <h4>Tag your story</h4>
        <p>Band together! Tag it and help us understand the causes of your unemployment.</p>
      </div>
      <div class="col-4">
        <div class="img-h">
          <img src="https://i.imgur.com/m3nPxdV.png" alt="support" width="50%">
        </div>
        <h4>Work to support your problem</h4>
        <p>Our community helps you find a job, or our Advocates may escalate it to a systemic level! Help everyone!</p>
      </div>
    </div>
  </div>
  <div class="explore-stories">

    <div class="row">
      <h1>Explore our Stories</h1>
      <%= link_to '+ Tell a Story', new_story_path, class: "btn btn-primary" %>
    </div>

    <div class="stories-table">
      <table>
        <tbody>
          <% @stories.each do |story| %>
            <tr>
              <td class="count">
                <div class="count-text">
                  <span><%= story.score %></span>
                  <p>Votes</p>
                </div>
              </td>
              <td class="count">
                <div class="count-text">
                  <span><%= story.ideas.count %></span>
                  <p>Ideas</p>
                </div>
              </td>
              <td class="title">
                <%= link_to story.title, story %>
                <div class="tags">
                  <% story.story_tags.each do |story_tag| %>
                    <span class="tag"><%= story_tag.tag.name %></span>
                  <% end %>
                </div>
              </td>
              <% if story.status.present? %>
                <td class="status">
                  <div class="status-text">
                    <% if story.status.id == 1 %>
                      <i class="material-icons escalated">flash_on</i>
                      <p>Escalated</p>
                    <% elsif story.status.id == 2 %>
                      <img src="/hands.png"/>
                      <p>Need support</p>
                    <% elsif story.status.id == 3 %>
                      <i class="material-icons got-help">done</i>
                      <p>Got help</p>
                    <% else %>
                      <i class="material-icons got-a-job">star</i>
                      <p>Got a job</p>
                    <% end %>
                  </div>
                </td>
              <% else %>
                <td></td>
              <% end %>
              <!-- <td><%= link_to 'Edit', edit_story_path(story) %></td>
              <td><%= link_to 'Destroy', story, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>

</div>
