<!-- <p id="notice"><%= notice %></p> -->

<div class="container">
  <div class="show-story">

    <div class="story-container">
      <div class="story-header">
        <div class="upvote-button">
          <i class="material-icons got-help">expand_less</i>
          <p>Upvote</p>
        </div>
        <table>
          <tbody>
            <tr>
              <td class="count">
                <div class="count-text">
                  <span><%= @story.score %></span>
                  <p>Votes</p>
                </div>
              </td>
              <td class="title">
                <h1><%= @story.title %></h1>
                <div class="tags">
                  <% @story.story_tags.each do |story_tag| %>
                    <span class="tag"><%= story_tag.tag.name %></span>
                  <% end %>
                </div>
              </td>
              <% if @story.status.present? %>
                <td class="status">
                  <div class="status-text">
                    <% if story.status.name == "Escalated" %>
                      <i class="material-icons escalated">flash_on</i>
                      <p>Escalated</p>
                    <% elsif story.status.name == "Need support" %>
                      <img src="/hands.png"/>
                      <p>Need support</p>
                    <% elsif story.status.name == "Got help" %>
                      <i class="material-icons got-help">done</i>
                      <p>Got help</p>
                    <% else %>
                      <i class="material-icons got-a-job">star</i>
                      <p>Got a job</p>
                    <% end %>
                  </div>
                </td>
              <% else %>
                <td></td>
              <% end %>
            </tr>
            <tr>
              <td></td>
              <td class="story-body">
                <%= @story.body %>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="ideas-container">
      <img src="https://i.imgur.com/wwF47sb.png">
      <% @story.ideas.each do |idea| %>
        <div class="paper-container">
          <p><%= idea.content %></p>
        </div>
      <% end %>
      <%= render 'ideas/form', story_id: @story.id %>
    </div>

  </div>
</div>

<!-- <p>
  <strong>Comments:</strong>
  <% @story.ideas.each do |idea| %>
    <p><%= idea.content %></p>
  <% end %>
</p>

<%= render 'ideas/form' %>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %> -->
