<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @story.title %>
</p>

<p>
  <strong>Score:</strong>
  <%= @story.score %>
</p>

<p>
  <strong>Body:</strong>
  <%= @story.body %>
</p>

<p>
  <strong>Comments:</strong>
  <% @story.ideas.each do |idea| %>
    <p><%= idea.content %></p>
  <% end %>
</p>

<%= render 'ideas/form' %>

<%= link_to 'Edit', edit_story_path(@story) %> |
<%= link_to 'Back', stories_path %>
